<div id="global_menu_right"  data-role="content"> 

	<div class="menu_right_arrondi">   
		  <div class="menu_Connexion_arrondi">       
			   <div class ="titre_Connexion_H_arrondi" data-role="header" data-theme="b"> 
				     <span class="moyen center"> Vous étes architecte  </span>
				</div>
				 
		   </div>
	</div>  
	
	
</div> 
