<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}{% endblock %}</title>
		 
	</head>
	<body>
 
 <div> 
 <div class="center"><br />
	Signalement d'une erreur : {{ status_code }} {{ status_text}}  
</div>
 <br>
<br>
 
</div>
</body></html>