<div class="panel panel-primary">
        <div class="panel-heading"> Architectes/Artisans </div>
              <div class="panel-body">
                  <div class="col-sm-offset-1 col-sm-10">
                            <img  alt=" Architectes/Artisans"  src="{{ asset('bundles/djepobootstrap/images/A.jpg') }}" class="img-responsive ">
                 </div>
                <div class="col-sm-12">  pour réaliser des projets de construction  </div>
              </div>
              
                  <div class="panel-footer">  
                        <a href="{{ path('djepoMain_contact') }}"> Inscrivez vous  </a> .
                  </div>
               
               
        </div>
 