<div> 

    <span > Architectes/Artisans </span>
    <img  alt=" Architectes/Artisans"  src="{{ asset('bundles/djepobootstrap/images/A.jpg') }}" class="img-responsive ">
     <p class=" pull-center"> 
             Inscrivez vous pour réaliser des projets de construction.<br>
             <a href="{{ path('djepoMain_contact') }}"> Inscrire </a>		
    </p>	
</div> 
