<div> 

	<div class="menu_right_arrondi">   
		  <div class="menu_Connexion_arrondi">       
			   <div class ="titre_Connexion_H_arrondi" > 
				     <span class="moyen">
							<span class="center"> Architectes/Artisans </span>
					 </span>
				</div>
				 <p>
					 <br/>	
					  <div class="center"> 
					      <img  alt=" Architectes/Artisans"  src="{{ asset('bundles/djepobootstrap/images/A.jpg') }}" width="100" height="100">
					 </div>
					   <div>
					       Inscrivez vous pour réaliser des projets de construction.<br>
					       <a href="{{ path('djepoMain_contact') }}"> Inscrire </a>		
					  </div>	
				  
				   </p>
		   </div>
	</div>  
	
	 
	</div> 
